body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #2c3e50;
}

p {
  font-size: 18px;
  color: #555;
}
.card {
  display: block;
  margin: 20px 0;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-decoration: none;
  background: #f9f9f9;
  transition: 0.2s;
}

.card h3 {
  margin: 0 0 6px;
  color: #0a7cff;
}

.card p {
  margin: 0;
  color: #333;
}

.card:hover {
  background: #eef5ff;
  border-color: #0a7cff;
}
